.row{
    display: flex;
    justify-content: space-between;
    margin-top:50px;
}

.cold-md-6{
    width: 40%;
}

.titulo-app{
    padding-top:30px;
    color:white;
    text-align: center;
}

.container h2{
    color:white;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    .cold-md-6{
        width: 80%;
        margin:30px 10%;
    }
}
